*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#menu{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#menu li{
	list-style: none;
}
#menu a{
	color: white;
}

.dog{
	width: 400px;
	height: 400px;
	margin-top: 5rem;
	margin-bottom: 1rem;
}
main p{
	padding: 2rem 30rem;
}

.section{
	width: 100vw;
	height: 100vh;
}
.card{
	margin: 5rem;
	color: white;
}