</head>
<!-- To apply Bootstrap to HTML elements, we give them the "class" attribute and provide them with classes that are pre-built with Bootstrap -->
<body class="text-center bg-secondary">

	<!-- Navbar -->
	<div class="bg-primary text-light fixed-top p-1">Fixed Top - Navbar</div>
	<!-- End of Navbar -->
	<!-- pt, pb, pl, pr 1 to 5-->
	<!-- mt, mb, ml, mr 1 to 5-->


	<!-- Header -->
		<div>
		<div class="text-center mt-5">
			<h1>Bootstrap Introduction and Simple Styles</h1>
			<div class="d-none d-lg-inline-block w-25 mt-4">
				<img src="https://www.drupal.org/files/project-images/bootstrap-stack.png" class="rounded-circle bg-white img-fluid">
			</div>
		</div>
	<!-- End of Header -->
		<div class="container-fluid">
		<div class="container-fluid mt-5 mb-5">
			<h2>Bootstrap Color Classes</h2>
			<table class="table table-dark table-bordered">
			<table class="table table-dark table-bordered w-100">
				<thead>
					<tr>
						<th>Text</th>

			<h2>Bootstrap Text Classes</h2>

			<table>
				
			<table class="table table-dark text-light table-bordered">
				<thead>
					<tr>
						<th>Alignment</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">Left</td>
					</tr>
					<tr>
						<td class="text-center">Center</td>
					</tr>
					<tr>
						<td class="text-right">Right</td>
					</tr>
					<tr>
						<!-- for extra small screens or small mobile phones, we can avoid using breakpoints -->
						<!-- all mobile views in Google Chrome Browser are considered small sizes -->
						<!-- Screen size is greater than or equal to 576px -->
						<td class="text-sm-center">Small Center</td>
					</tr>
					<tr>
						<td class="text-right text-md-left">Others Right/Medium Left</td>
						<!-- Screen size is greater than or equal to 786px -->
						<!-- Tablets -->
					</tr>
					<tr>
						<td class="text-lg-right">Large Right</td>
						<!-- Screen size is greater than or equal to 992px -->
						<!-- Desktop -->
					</tr>
					<tr>
						<td class="text-xl-center">Extra Large Center</td>
						<!-- Screen size is greater than or equal to 1200px -->
						<!-- TV and other large screens -->
					</tr>
				</tbody>
			</table>
			<!-- End of Bootstrap Text-Alignment Classes Table -->

			<!-- Bootstrap Other Text Classes Table -->
			<table class="table table-dark text-light table-bordered">
				<thead>
					<tr>
						<th>Text Transform</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-lowercase font-weight-bold">
							LOWERCASED BOLD TEXT
						</td>
					</tr>
					<tr>
						<td class="text-uppercase font-weight-normal">
							uppercased normal text
						</td>
					</tr>
					<tr>
						<td>
							<a href="#" class="text-decoration-none font-italic">Non-underlined italic link</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End of Bootstrap Other Text Classes Table -->

			<!-- Bootstrap Border and Sizing Classes Table -->
			<h2>Bootstrap Border and Sizing Classes</h2>

			<table class="table table-dark text-light table-bordered">
				<thead>
					<tr>
						<th>Border</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="bg-info border border-primary rounded w-100">
								Rounded
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="bg-secondary border border-white rounded-circle w-25">
								Rounded Circle
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="bg-warning border border-danger rounded-pill w-50">
								Rounded Pill
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="bg-primary text-light fixed-bottom p-1">Fixed Bottom - Footer</div>

	<!-- Bootstrap Script -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	</body>
	</html>
